<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

			<form>

				<div>

			  		Employee ID:<p style="color: dodgerblue;"> {{ data[0] }}</p>

			  		First Name:<p style="color: dodgerblue;"> {{ data[1] }} </p> 

			  		Last Name:<p style="color: dodgerblue;">{{ data[2] }}</p>  

			  		Primary Interest:<p style="color: dodgerblue;">{{ data[3] }}</p>  

			  		Location:<p style="color: dodgerblue;">{{ data[4] }} </p> 

			  		<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" formaction="http://54.193.81.223/">Home Page</button><br><br>

			  	</div>

			</form>

		</body>

	</font>
</center>
</html>
